<div *ngIf="auth.userProfile$ | async as profile">
    <h3>{{ profile.name }}</h3>
  <div id="contain" class="row z-depth-1">
    <div class="col s12 m2 l2">
        <img [src]="profile.picture" class="circle responsive-img profile-pic"/>
    </div>
    <div class="col s12 m3 l3">
        <p>Adresse mail</p>
        <p>Compte vérifié</p>
        <p>Pseudo</p>
    </div>
    <div class="col s12 m7 l7 span-yellow">
        <p>{{ profile.email }}</p>
        <p *ngIf="profile.email_verified === true">Oui</p>
        <p *ngIf="profile.email_verified === false">Non</p>
        <p>{{ profile.nickname }}</p>
    </div>
  </div>
</div>
