<nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/68/FC-Nantes-blason-rvb.png">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLinkActive="active-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
        <li><a routerLinkActive="active-link" routerLink="/matchs">Matchs</a></li>
        <li><a routerLinkActive="active-link" routerLink="/classement">Classement</a></li>
        <li><a routerLinkActive="active-link" routerLink="/joueurs">Joueurs</a></li>
        <li><a routerLinkActive="active-link" routerLink="/profile">Profil</a></li>
        <li *ngIf="auth.loggedIn === false"><a (click)="auth.login()">Se connecter</a></li>
        <li *ngIf="auth.loggedIn === true"><a (click)="auth.logout()">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>